@model Entity.Concrete.Avukat

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(a => a.AVKT_AD)
        @Html.TextBoxFor(a => a.AVKT_AD)
    </div>
    <div>
        @Html.LabelFor(a => a.AVKT_SOYAD)
        @Html.TextBoxFor(a => a.AVKT_SOYAD)
    </div>

    <button type="submit">Kaydet</button>
}
